body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Fallback background color */
    background: linear-gradient(45deg, red, blue, pink, yellow, grey);
    background-size: 400% 400%;
    animation: gradientAnimation 20s infinite;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
}

.contact-block {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-icon {
    display: inline-block;
    margin: 10px;
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    background-color: #ccc;
    border-radius: 50%;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.social-icon img {
    width: 100%;
    height: auto;
}

.social-icon.telegram { background-color: red; }
.social-icon.linkedin { background-color: blue; }
.social-icon.gmail { background-color: orange; }
.social-icon.whatsapp { background-color: yellow; }
.social-icon.github { background-color: green; }

.social-icon:hover {
    background-color: #666;
}

.close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: red;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
